.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;  
}

.steal-blue {
  background-color: rgb(55, 84, 138);
}
.steal-blue2 {
  background-color: rgb(36, 61, 106);
}

.nav-active {
  background-color: rgb(6, 182, 212);
  color: rgb(30, 41, 59);
}
.nav-active:hover {  
  color: rgb(30, 41, 59);
}

.active {
  background-color: rgb(6, 182, 212);
  color: rgb(30, 41, 59);
}
.active:hover {  
  color: rgb(30, 41, 59);
}

